@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  font-family: 'Lato', sans-serif;
  /* background-color: #f1f1f1; */
  min-height: 100vh;
}

.activeLinkContent {
  border-bottom: 2px solid #111;
  transition: 0.2s all linear;
}

#infinite {
  div {
    width: 100%;
  }
}

@media screen and (min-width: 910px) {
  .slick-track {
    display: flex !important;
    gap: 15px;
  }
}

.slick-arrow {
  background: #7a7a7a !important;
  height: 35px !important;
  width: 35px !important;
  z-index: 100 !important;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000 !important;
}

.slick-dots {
  bottom: -28px !important;
}

.option {

  background-color: #f6f6f6;
  padding: 15px 20px;
  border-radius: 19px;
  display: flex;
  
  width: 100%;
}

.option:hover {
  background-color: #fff;
  color: #000;
}

.bg-navy ,.bg-navy:hover {
  background-color: #0c4a6e;
  color: white;
}

.label {
  display: block;
}

