@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #f1f1f1; */
    min-height: 100vh;
}
.activeLinkContent{
    border-bottom: 2px solid #111;
    transition: .2s all linear;
}
#infinite {
    div{
    width: 100%;
}
}